<div class="games-view clearfix">
    <div class="col-sm-12 padding-0">
        <button class="btn btn-default pull-right" ng-click="newGame()">New Game</button>
    </div>
    
    <div class="col-sm-12 padding-0">
        <div class="ui-grid" ui-grid="gridOptions" ui-grid-auto-resize ui-grid-resize-columns ui-grid-selection
             ng-visible="modelLocator.games" external-scopes="this"></div>
    </div>

    <form novalidate form-util name="gameForm" class="col-sm-6 form-horizontal form"
          ng-submit="gameForm.$valid ? saveGame() : null;" ng-model="modelLocator.editGame">
        <div class="form-group">
            <label class="col-sm-3 control-label required-label">Title</label>

            <div class="col-sm-9">
                <input type="text" name="gameTitle" class="form-control" ng-model="modelLocator.editGame.title"
                       ng-class="{true: 'error', false:''}[gameForm.gameTitle.$invalid && (gameForm.gameTitle.$touched || gameForm.$submitted)]"
                       required/>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label required-label">Developer(s)</label>

            <div class="col-sm-9">
                <input type="text" name="gameDevelopers" class="form-control" ng-model="modelLocator.editGame.developers"
                       ng-class="{true: 'error', false:''}[gameForm.gameDevelopers.$invalid && (gameForm.gameDevelopers.$touched || gameForm.$submitted)]"
                       required/>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label required-label">Publisher(s)</label>

            <div class="col-sm-9">
                <input type="text" name="gamePublishers" class="form-control" ng-model="modelLocator.editGame.publishers"
                       ng-class="{true: 'error', false:''}[gameForm.gamePublishers.$invalid && (gameForm.gamePublishers.$touched || gameForm.$submitted)]"
                       required/>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label required-label">Platform(s)</label>

            <div class="col-sm-9">
                <input type="text" name="gamePlatforms" class="form-control" ng-model="modelLocator.editGame.platforms"
                       ng-class="{true: 'error', false:''}[gameForm.gamePlatforms.$invalid && (gameForm.gamePlatforms.$touched || gameForm.$submitted)]"
                       required/>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">Release Date(s)</label>
            
            <div class="col-sm-9 date-field">
                <p class="input-group">
                    <input type="text" name="gameReleaseDates" class="form-control" datepicker-popup="mediumDate" ng-model="modelLocator.editGame.releaseDates"
                           is-open="dateOptions.opened" close-text="Close" ng-disabled="true" datepicker-options="dateOptions" datepicker-mode="year" />
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="open($event)">
                            <i class="glyphicon glyphicon-calendar"></i>
                        </button>
                    </span>
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">Genre(s)</label>

            <div class="col-sm-9">
                <input type="text" name="gameGenres" class="form-control" ng-model="modelLocator.editGame.genres"/>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">Awards</label>

            <div class="col-sm-9">
                <input type="text" name="gameAwards" class="form-control" ng-model="modelLocator.editGame.awards"/>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">Summary</label>

            <div class="col-sm-9">
                <textarea type="text" name="gameSummary" class="form-control bio" ng-model="modelLocator.editGame.summary"/>
            </div>
        </div>
        <button type="submit" class="btn btn-default pull-right" value="Save">Save</button>
        <button type="button" class="btn btn-default reset-btn pull-right" ng-click="resetForm()" value="Reset" 
                ng-disabled="!modelLocator.editGame">Reset</button>
    </form>
    
    <div class="col-sm-6 media-gallery">
        <input class="choose-btn" type="file" ng-file-select="uploadGameImage($files)" />
        <img class="image" ng-src="{{modelLocator.editGame.image ? '/uploads/images/games/' + modelLocator.editGame.image : 'http://'}}"
             ng-show="modelLocator.editGame.image">
    </div>
</div>